# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=k6_books

# API
API_PORT=3000
DATABASE_URL=postgresql://user:password@postgres:5432/k6_books
LOG_LEVEL=info
NODE_ENV=production

# InfluxDB
INFLUXDB_DB=k6
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=adminpassword
INFLUXDB_HTTP_AUTH_ENABLED=true

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# k6 Output
K6_OUT=json=test_results.json,influxdb=http://influxdb:8086/k6
